*{
  box-sizing: border-box;
}

.container{
  margin: 5rem;
}

.modal-wrapper{
  
  right:"40%vw";
  top:"2%vh";
  height:650px;
  width:500px;
  border: 1px;
  z-index: 999;
  background-color: white;
}

.modal-img{
  height: 400px;
  width: 100%;
}

.userName{
  font-size: 1rem;
  color: grey;
  text-transform: capitalize
}